.scoreBoardContainer {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .scoreBoardContainer {
    padding: 0px 15px 5px 15px;
  }
}

.scoreContainer {
  display: flex;
}

.goldIconContainer {
  padding: 2px 0 0px 3px;
}

.goldIcon {
}

.lifeContainer {
}
