.guessedBoxContainer {
  display: flex;
}

.guessedBox {
  outline: 1px solid grey;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.abilityImageContainer {
  filter: hue-rotate(160deg);
}

.answerCheckContainer {
  display: flex;
  gap: 40px;
}
