.gameFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.newGameButtonAllContainer {
  margin: 0px 0px 0px -50px;
}

.newGameButtonCircle {
  position: relative;
}

@keyframes color {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #307a97;
  }
  100% {
    background-color: #222;
  }
}

@keyframes colorborder {
  0% {
    border-left: 27px solid #222;
  }
  50% {
    border-left: 27px solid #307a97;
  }
  100% {
    border-left: 27px solid #222;
  }
}

@keyframes colorresulticon {
  0% {
    color: #72653e;
  }
  50% {
    color: #dfd2ad;
  }
  100% {
    color: #72653e;
  }
}

.newGameButtonPulse {
  position: relative;
  width: 8.8rem;
  height: 50px;
  margin-top: 5px;
  font-size: 1.2rem;
  background-color: #1e2328;
  border: 3px solid #07b1b2;
  padding: 0 0 0 52px;
  text-align: center;
  background-size: 100% 50%;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 98;
  animation-name: color;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}

.newGameButtonPulse:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 26px solid transparent;
  border-left: 32px solid #12a0a0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: transparent;
}

.newGameButtonPulse:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 21px solid transparent;
  background-color: transparent;
  border-left: 27px solid #1e2328;
  animation-name: colorborder;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}

.newGameButtonCircle:after {
  content: "";
  display: block;
  width: 3.2rem;
  height: 50px;
  border-top-right-radius: 42%;
  border-bottom-right-radius: 42%;
  position: absolute;
  left: -4px;
  background: rgb(26, 25, 25);
  top: 50%;
  transform: translateY(10%);
  border-right: 3.9px solid #0d8f8f;
  z-index: 99;
}

.newGameButton {
  position: relative;
  width: 8.8rem;
  height: 50px;
  margin-top: 5px;
  font-size: 1.2rem;
  background-color: #1e2328;
  border: 3px solid #07b1b2;
  padding: 0 0 0 52px;
  text-align: center;
  background-size: 100% 50%;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 98;
}

.newGameButton:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 26px solid transparent;
  border-left: 32px solid #12a0a0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: transparent;
}

.newGameButton:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 21px solid transparent;
  background-color: transparent;
  border-left: 27px solid #1e2328;
}

.initialMenuContainer {
  z-index: 105;
}

.showEndMenu {
  visibility: visible;
}

.hideEndMenu {
  visibility: hidden;
}

.endMenuContainer {
  z-index: 100;
}
.initialMenuButton {
  background-color: transparent;
  border: none;
  font-size: 2.1rem;
  border: none;
  padding: 5px 30px 5px 20px;
}

.endMenuButton {
  background-color: transparent;
  border: none;
  font-size: 2.1rem;
  border: none;
  padding: 5px 20px 5px 30px;
}

.questionIcon {
  color: #b49f60;
  cursor: pointer;
}

.flagIconContainer {
  animation-name: colorresulticon;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
  -webkit-animation-name: colorresulticon;
  -webkit-animation-duration: 2.4s;
  -webkit-animation-iteration-count: infinite;
}
.resultIcon {
  color: #72653e;
  cursor: pointer;
}

@media (hover: hover) {
  .newGameButton:hover {
    background-color: #82bee4;
    cursor: pointer;
  }
  .newGameButton:hover:after {
    border-left: 27px solid #82bee4;
  }
  .questionIcon:hover,
  .resultIcon:hover {
    color: #cebc85;
  }
}
