.resultScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statsHeader {
  padding-top: 25px;
}

.statContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 0 0;
  gap: 15px;
}

.statDetailContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2px;
}

.statDetailNumber {
  font-size: 2.4rem;
}

.statDetailText {
  font-size: 0.9rem;
}

.roleStatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 0 30px 0;
  width: 100%;
  border-bottom: 1px outset rgb(151, 151, 151);
}

.roleDetailContainer {
  display: flex;
  padding: 25px;
  gap: 35px;
}

.playAgainButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: 1px outset rgb(151, 151, 151);
}

.playAgainButton {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  background-color: #6ab2df;
  border-radius: 6px;
}

.playAgainButton:hover {
  background-color: #92caec;
  cursor: pointer;
}

.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
