.resultScreenContainer {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statsHeader {
  padding-top: 25px;
}

.statContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 0 0;
  gap: 15px;
}

.statDetailContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2px;
}

.statDetailNumber {
  font-size: 2.4rem;
}

.statDetailText {
  font-size: 0.9rem;
}

.roleStatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0 10px 0;
  width: 100%;
  border-bottom: 1px outset rgb(151, 151, 151);
}

.roleDetailContainer {
  display: flex;
  padding: 25px;
  gap: 35px;
}

.playAgainButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: 1px outset rgb(151, 151, 151);
}

@keyframes color {
  0% {
    background-color: #0c1d28;
  }
  50% {
    background-color: #1b3242;
  }
  100% {
    background-color: #0c1d28;
  }
}

.playAgainButton {
  font-family: "Rubik", sans-serif;
  padding: 10px 20px 10px 20px;
  font-size: 1.6rem;
  border: 2px solid #cfb35f;
  background-color: #0c1d28;
  color: #cfb35f;
  animation-name: color;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}

.playAgainButton:hover {
  background-color: #112533;
  background-image: linear-gradient(0deg, #cfb35f, 1%, #0c1d28 45%);
  cursor: pointer;
  box-shadow: 0px 0px 8px rgb(90, 90, 90);
  color: rgb(230, 208, 142);
}

.socialContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.shareContainer {
  font-family: "Rubik", sans-serif;
}

.linkContainer {
  border: 1px solid #cfb35f;
}
