.guessBoxContainer {
  display: flex;
}

.guessBox {
  outline: 1px solid grey;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.abilityImageContainer {
  filter: hue-rotate(0deg);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
