.container {
}

.main {
  height: 85vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameHeader {
  border-bottom: 1px outset rgb(151, 151, 151);
  height: 4.4rem;
  width: 100%;
}

.gameTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.9rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .main {
    height: 75vh;
  }

  .gameHeader {
    height: 4.2rem;
  }
  .gameTitle {
    font-size: 2.6rem;
  }
}
