.container {
}

.main {
  height: 85vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameHeader {
  border-bottom: 1px outset rgb(151, 151, 151);
  height: 4.9rem;
  width: 100%;
}

.gameTitle {
  font-family: "Cinzel", serif;
  font-weight: 800;
  font-size: 2.9rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b49f60;
}

@media only screen and (max-width: 700px) {
  .main {
    height: 90%;
    padding: 5px 0 100px 0;
  }

  .gameHeader {
    height: 3.1rem;
  }
  .gameTitle {
    font-size: 1.9rem;
  }
}
