.container {
}

.main {
  min-height: 90vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameHeader {
  border-bottom: 1px outset rgb(151, 151, 151);
  height: 3.5rem;
  width: 100%;
}

.gameTitle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
